<% broadcast "/ideas/new" do  %>
{
  "user_id": "<%= current_user.id %>",
  "action"   : "add"
}
<% end %>

<% if @idea.valid? %>
    $('#ideas_box').prepend( "<%= j render( :partial => 'my_ideas', :locals => { :idea => @idea }) %>" );
  $('#ideas_box > li:first').effect('highlight', {}, 3000);
  $('#new_idea')[0].reset();
  flashController.doSuccess('<p>创建成功</p>');
  commentsManager.bindHandlers();
<% else %>
    flashController.doFailure('<p>创建失败</p>');
<% end %>

